.about {
  background-color: var(--c);
  display: flex;
  flex-direction: column;
  height: 920px;
  justify-content: center;
  width: 100%;
}

.about div {
  display: flex;
  justify-content: space-evenly;
}

.about h1 {
  align-items: center;
  color: var(--v7);
  font-size: 50px;
  margin-right: 50px;
  padding: 20px;
  text-align: end;
}

.about-img {
  align-items: center;
  display: flex;
  margin: 10px;
  padding: 50px;
  width: 550px;
}

.about-img img {
  border-radius: 5%;
  width: 100%;
}

.about-txt {
  color: var(--c4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 50px;
  width: 750px;
}

.about-txt p {
  font-size: 24px;
  margin: 15px 0;
}

@media (max-width: 1024px) {
  .about {
    height: 650px;
  }

  .about h1 {
    color: var(--a1);
    font-size: 36px;
    margin-right: 0;
    margin-top: 20px;
    text-align: end;
  }

  .about-img {
    padding: 10px;
    width: 350px;
  }

  .about-img img {
    width: 300px;
  }

  .about-txt {
    color: var(--c4);
    margin: 10px;
    padding: 10px;
    width: 90%;
  }

  .about-txt p {
    font-size: 18px;
    margin: 5px 0;
  }
}

@media (max-width: 768px) {
  .about div {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .about h1 {
    color: var(--r1);
    font-size: 24px;
    margin-right: 0;
    margin-top: 10px;
  }

  .about-img {
    justify-content: center;
    width: 250px;
  }

  .about-img img {
    width: 200px;
  }

  .about-txt p {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .about {
    flex-direction: column;
    height: 680px;
    justify-content: center;
    width: 100%;
  }

  .about h1 {
    color: var(--l1);
    font-size: 24px;
    margin-top: 20px;
  }

  .about-img {
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: 250px;
  }

  .about-txt {
    margin-bottom: 30px;
    width: 90%;
  }
}
