.projects {
  background-color: var(--v7);
  height: 100%;
  width: 100%;
}

.projects h1 {
  color: var(--c);
  font-size: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 60px;
  padding: 20px;
}

.projects-stacks {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 30px;
}

.projects-stacks button {
  background-color: var(--v7);
  border: none;
  color: var(--c2);
  font-size: 28px;
  font-weight: 700;
}

#selected {
  color: var(--c);
}

.projects-list {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.projects-list div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}

#soon {
  color: var(--c);
  font-size: 24px;
  margin-top: 120px;
}

@media (max-width: 1024px) {
  .projects {
    background-color: var(--a1);
    height: 100%;
  }

  .projects h1 {
    font-size: 36px;
  }

  .projects-stacks button {
    background-color: var(--a1);
    font-size: 24px;
  }

  #soon {
    font-size: 28px;
    height: 550px;
  }
}

@media (max-width: 768px) {
  .projects {
    background-color: var(--r1);
    height: 100%;
  }

  .projects h1 {
    font-size: 28px;
    margin-top: 20px;
  }

  .projects-stacks {
    margin: 10px;
    padding: 15px;
  }

  .projects-stacks button {
    background-color: var(--r1);
    font-size: 18px;
  }

  #soon {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .projects {
    background-color: var(--l1);
    height: 100%;
  }

  .projects h1 {
    font-size: 24px;
  }

  .projects-stacks button {
    background-color: var(--l1);
    font-size: 16px;
    margin: 10px;
  }

  #soon {
    font-size: 12px;
  }
}
